

    <nav class="navbar">
        <div class="logo">
            <a href="/Home">Letang Canvas and Innovation</a>
        </div>
        <ul class="nav-links">
            <li><a href="/Home">Home</a></li>
            <li><a href="/category">Category</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/videos">Videos</a></li>
            <li><a href="/service">Service</a></li>
            <li><a href="/contact">Contact Us</a></li>
            
        </ul>
        <div class="search-container">
            <input type="text" placeholder="Search">
            <button>Search</button>
        </div>
    
        <div class="cart">
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
    </nav>
</body>
</html>