<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('Component/Navigation.ejs') %>
    <header>
        <h2>Library Management System</h2>
    </header>
    <section>
        <p>Our Library Management System helps you organize, track, and manage your library resources efficiently. Whether you are a student, librarian, or book lover, our system provides easy access to a vast collection of books and resources.</p>
        <ul>
            <li>Search and borrow books online</li>
            <li>Manage user accounts and book inventory</li>
            <li>Track due dates and overdue items</li>
            <li>Access digital resources and recommendations</li>
        </ul>
    </section>
    
   
</body>
</html>
    