<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="about.css">
</head>
<body>


    <div class="header">
        <div class="left-section">
            <a href="https://www.facebook.com/profile.php?id=61555802753762"><i class="fa-brands fa-facebook"></i></a>
           
            <a href="https://www.instagram.com/letang_canvas_and_innovation?igsh=dXpscXZvOGpoMnpk"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.tiktok.com/@letang_canvas"><i class="fa-brands fa-tiktok"></i></a>
            <span class="contact-info">+977 9810497830 | inkeshadhikary@gmail.com</span>
        </div>
       
        <div class="right-section">
            <a href="#"><i class="fa-solid fa-location-dot"></i>Letang-2,Bhudhare Morang</a>
            <a href="#"><i class="fa-sharp fa-solid fa-truck"></i>Track Order</a>
            <a href="/login"><i class="fa-solid fa-user"></i>Log In</a>
            <a href="/signup"><i class="fa-solid fa-user"></i>Sign Up</a>
        </div>
    </div>

    <nav class="navbar">
        <div class="logo">
            <a href="#">Letang Canvas and Innovation</a>
        </div>
        <ul class="nav-links">
            <li><a href="/Home">Home</a></li>
            <li><a href="/category">Category</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/videos">Videos</a></li>
            <li><a href="/service">Service</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
        <div class="search-container">
            <input type="text" placeholder="Search">
            <button>Search</button>
        </div>
    
        <div class="cart">
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
    </nav>
</body>
</html>



<link rel="stylesheet" href="viwes/Components/navigation.ejs">
<h1 style="color:blue">This is about page??????</h1>